<div class="container">

 <h1 class="jumbotron-heading">Album example</h1>

 <div class="container">

  <div class="row">

   <div class="col">

    <p>Lorem ipsum text that will be a paragraph of text, but im laxy and don't want to visit that page so am typing this instead</p>

     </div>

      <div class="col">

       <p>Lorem ipsum text that will be a paragraph of text, but im laxy and don't want to visit that page so am typing this instead</p>

        </div>

         </div></div>